
.wrap {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between ;
    
    overflow: hidden;
  

    & .nav_brand {
        display:grid;
        grid-template-columns: 40px auto;
        align-items: center;
        height: 100%;
    }
} 

